<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de funcionários</title>
</head>
<body>
 
    <h2>Cadastrar funcionário<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Nome" name="nome">
        <input type="text" placeholder="Sobrenome" name="sobrenome">
        <button type="submit">Submit</button>
    </form> 
 
</body>
</html>